<div class="container" ng-controller="fornecedorCtrl">
    <div class="panel panel-info">
        <div class="panel-heading">Listagem de Fornecedores</div>
        <div class="panel-body">
            <button type="button" class="btn btn-info" data-target="#AdicionarFornecedor" data-toggle="modal">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>


        <table class="table table-bordered">
            <thead style="background-color: burlywood;">
                <tr>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Nome</th>
                    <th>Empresa/Cliente</th>
                    <th>CPF/CNPJ</th>
                    <th>Data Cadastro</th>
                    <th>Telefone</th>
                    <th>Data Nasc</th>
                    <th>RG</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="f in Fornecedores">
                    <td>{{f.id}}</td>
                    <td>{{f.tipo}}</td>
                    <td>{{f.nome}}</td>
                    <td>{{f.nomeFantasia}}</td>
                    <td>{{f.cnpjOuCpf}}</td>
                    <td>{{f.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                    <td>{{f.telefone}}</td>
                    <td>{{f.dataNasc | date: 'dd/MM/yyyy'}}</td>
                    <td>{{f.rg}}</td>
                    <td style="width:300px">
                        <a href="#" class="btn btn-info" data-target="#AtualizarProduto" data-toggle="modal" ng-click="atualizarProdutoPorId(p)">Editar</a>
                        <a href="#" class="btn btn-danger" data-target="#ExcluirProduto" data-toggle="modal" ng-click="excluirProdutoPorId(p)">Excluir</a>
                        <a href="#" class="btn btn-danger" data-target="#ComprarProduto" data-toggle="modal" ng-click="comprarProdutoPorId(p)">Comprar</a>

                    </td>
                </tr>
            </tbody>
        </table>



    </div>
</div>
@section scripts{
    <script src="~/AngularJSApp/Fornecedor/Module.js"></script>
    <script src="~/AngularJSApp/Fornecedor/Service.js"></script>
    <script src="~/AngularJSApp/Fornecedor/Controller.js"></script>
}
