<div class="container" ng-controller="repositorioCtrl">
    <div class="panel panel-info">
        <div class="panel-heading">Listagem de Repositórios</div>
        <table class="table table-bordered">
            <thead style="background-color: burlywood;">
                <tr>
                    <th style="display:none">Id</th>
                    <th>Nome</th>
                    <th style="display:none">Descrição</th>
                    <th style="display:none">Linguagem</th>
                    <th style="display:none">Ultima atualização</th>
                    <th style="display:none">Dono</th>
                    <th style="display:none">Colaborador</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in Repositorios">
                    <td style="display:none">{{p.id}}</td>
                    <td><a href="#" class="btn btn-info" data-target="#DetalharRepositorio" data-toggle="modal" ng-click="detalharRepositorioId(p)">{{p.name}}</a></td>
                    <td style="display:none">{{p.description}}</td>
                    <td style="display:none">{{p.language}}</td>
                    <td style="display:none">{{p.updated_at | date: 'dd/MM/yyyy'}}</td>
                    <td style="display:none">{{p.full_name}}</td>
                    <td style="display:none">{{p.contributors_url}}</td>
                </tr>
            </tbody>
        </table>
        @* INÍCIO MODAL - DETALHAR REPOSITORIO *@
        <div class="modal" role="dialog" id="DetalharRepositorio">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Detalhes do repositório</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p>Id : {{id}}</p>
                            <p>Nome : {{nome}}</p>
                            <p>Descrição : {{descricao}}</p>
                            <p>Linguagem : {{linguagem}}</p>
                            <p>Data última atualização : {{data | date: 'dd/MM/yyyy'}}</p>
                            <p>Dono : {{dono}}</p>
                            <p>Contribuidores : {{contribuidores}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="adicionarRepositorio()">Adicionar aos favoritos</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Fechar</button>
                    </div>
                </div>
            </div>
        </div>


        @* FIM MODAL - DETALHAR REPOSITORIO *@
    </div>
</div>
@section scripts{
    <script src="~/AngularJSApp/Repositorio/Module.js"></script>
    <script src="~/AngularJSApp/Repositorio/Service.js"></script>
    <script src="~/AngularJSApp/Repositorio/Controller.js"></script>
}
